*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    
}

.calculator{
    flex-direction: column;
    background-color: #F3F5F9;
    margin-top: 100px;
    border: 6px solid #ECC8B6;
    width: 450px;
    height: 750px;
    border-radius: 20pt;
}

.display{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
}

.operation{
    color: #FF7442;
    font-size: 30px;
}

.result{
    background-color: #FF8B4F;
    color: white;
    padding: 40px 50px 40px 300px;
    border-radius: 8pt;
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    overflow: none;

}

.body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
}